@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#09090A] text-zinc-100;
}

.custom-focus {
  @apply transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-zinc-900 focus:ring-brand-500;
}
